# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# MLflow
# =========================
mlruns/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Build / Cache
# =========================
build/
dist/
*.egg-info/
.pytest_cache/
.cache/

# =========================
# Secrets / Environment
# =========================
.env
.env.*
*.pem
*.key
credentials.json
kaggle.json

# =========================
# UV
# =========================
.python-version

# =========================
# Temporary files
# =========================
temp/
tmp/
*.tmp

# =========================
# Keep important files
# =========================
!README.md
!requirements.txt
!pyproject.toml
!uv.lock
!App/Dockerfile
!App/main.py
!App/*.pkl
!App/requirements.txt